In [1]:
import pandas as pd

In [6]:
impressions = pd.read_csv('impressions-train.csv')
impressions.head()
impressions['rating'] = impressions['rating'].map(lambda x: x + 1)
impressions.to_csv('impressions_andy.csv', index = False)
impressions

       reviewerid  movie-code  rating
0             116         150       1
1             328          56       3
2             470         149       2
3             566          51       1
4             181         181       1
...           ...         ...     ...
27160         405          14       2
27161          59          51       1
27162         421          58       3
27163         263          57       1
27164          70          52       1

[27165 rows x 3 columns]

In [7]:
final_ratings = pd.read_csv('ratings-final.csv')
final_ratings.head()
final_ratings['rating'] = final_ratings['rating'].map(lambda x: x + 1)
impressions.to_csv('final_ratings_andy.csv', index = False)
final_ratings

       reviewerid  movie-code  rating
0             112          30       3
1             563         197       2
2             207         164       3
3             374         191       3
4             258          34       3
...           ...         ...     ...
44888          35          16       3
44889         152         102       3
44890         496          30       3
44891         321          10       2
44892         487         156       3

[44893 rows x 3 columns]

In [19]:
df = pd.concat([impressions, final_ratings], axis=0)
df.sort_values(by = 'reviewerid', inplace = True)
df['rating'] = df['rating'].map(lambda x: x+1)
df = df.reset_index(drop = True)
df.to_csv('data.csv', index = False)
df.head()

   reviewerid  movie-code  rating
0           0         149       2
1           0         162       3
2           0          47       3
3           0          77       2
4           0          42       3

In [5]:
from sklearn.model_selection import train_test_split
(train, test) = train_test_split(df, test_size = 0.2)
train.sort_values(by = 'reviewerid', inplace = True)
test.sort_values(by = 'reviewerid', inplace = True)

C:\Users\Ta Le Kien\Anaconda3\envs\RecSys\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Ta Le Kien\Anaconda3\envs\RecSys\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [6]:
train = train.reset_index(drop = True)
test = test.reset_index(drop = True)
train.to_csv('train.csv', index = False)
test.to_csv('test.csv', index = False)

In [20]:
df.head()

   reviewerid  movie-code  rating
0           0         149       2
1           0         162       3
2           0          47       3
3           0          77       2
4           0          42       3

In [22]:
df['rating'].value_counts()

3    33726
2    19793
1    18539
Name: rating, dtype: int64

In [41]:
g = df.groupby('rating')
print(type(g))
g = g.apply(lambda x: x.sample(g.size().min())).reset_index(drop=True)
g['rating'].value_counts()

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

3    18539
2    18539
1    18539
Name: rating, dtype: int64

In [45]:
g.to_csv('data.csv', index = False)

In [10]:
tup = (0, 0, 0)
for i in range(0, 11, 1):
    for j in range(0, 11 - i, 1):
        k = 10 - j - i
        tup = (i, j, k)
print(tup)

(10, 0, 0)