In [1]:
from surprise import SVD, SVDpp
from surprise import Reader
from surprise import Dataset
from surprise import accuracy
from surprise.model_selection import train_test_split

In [2]:
reader = Reader(line_format='user item rating', sep=',', skip_lines=1)
data = Dataset.load_from_file('data.csv', reader=reader)

In [3]:
algo = SVD()
train, test = train_test_split(data, test_size=.2)

In [4]:
algo.fit(train)
predictions = algo.test(test)

In [5]:
accuracy.rmse(predictions, verbose=True)

RMSE: 0.7145

0.7144895614686209

In [6]:
user = []
movie = []
RealRate = []
Estimated = []
for userID, movieID, actualRating, estimatedRating, _ in predictions:
    user.append(int(userID))
    movie.append(int(movieID))
    RealRate.append(actualRating)
    Estimated.append(estimatedRating)

In [7]:
import pandas as pd
predicted = pd.DataFrame()
predicted['userId'] = user
predicted['movieId'] = movie
predicted['RealRate'] = RealRate
predicted['Estimated'] = Estimated
predicted['RealRate'] = predicted['RealRate'].astype(int)
predicted.head()

   userId  movieId  RealRate  Estimated
0     137       95         3   1.696033
1     359       52         2   1.650652
2     368       51         3   1.550952
3     305      117         2   2.523494
4     362       94         1   1.526044

In [8]:
from sklearn import preprocessing
x = predicted[['Estimated']].values.astype(float)
# Create a minimum and maximum processor object
min_max_scaler = preprocessing.MinMaxScaler(feature_range=(1,3))
predicted['Normalized'] = min_max_scaler.fit_transform(x).astype(int)
predicted['Estimated'] = predicted['Estimated'].astype(int)
predicted

       userId  movieId  RealRate  Estimated  Normalized
0         137       95         3          1           1
1         359       52         2          1           1
2         368       51         3          1           1
3         305      117         2          2           2
4         362       94         1          1           1
...       ...      ...       ...        ...         ...
11119     327       94         1          2           1
11120     145       22         1          1           1
11121     337        5         2          2           2
11122     466       58         1          1           1
11123     152      199         3          2           1

[11124 rows x 5 columns]

In [9]:
(predicted['Normalized'] - predicted['RealRate']).map(lambda x: (x == 0)).sum()

4056

In [10]:
(predicted['Estimated'] - predicted['RealRate']).map(lambda x: (x == 0)).sum()

4719

In [11]:
def check(x, y):
    if x == y:
        return 2
    elif (x, y) == (2, 3) or (x, y) == (3, 2):
        return 1
    else:
        return 0

In [12]:
sum = 0
for i in range(11124):
    sum += check(predicted.loc[predicted.index[i], 'Estimated'], predicted.loc[predicted.index[i], 'RealRate'])
sum

12052

In [13]:
sum2 = 0
for i in range(11124):
    sum2 += check(predicted.loc[predicted.index[i], 'Normalized'], predicted.loc[predicted.index[i], 'RealRate'])
sum2

9641

In [14]:
predicted['Random'] = 1
sum3 = 0
for i in range(11124):
    sum3 += check(predicted.loc[predicted.index[i], 'Random'], predicted.loc[predicted.index[i], 'RealRate'])
sum3

7410

In [15]:
predicted['RealRate'].value_counts()

2    3721
1    3705
3    3698
Name: RealRate, dtype: int64

In [16]:
12089/11124 /2

0.5433746853649766